<div class="navbar navbar-default" ng-controller="AuthController">
	<div class="col-sm-offset-1 col-sm-6 col-xs-7">
		<a ui-sref="home"><img src="/img/stemsell-logo.svg" alt="Stemsell.co"></a>
	</div>
	<div class="col-sm-4 col-xs-5">
		<div class="navitems" ng-hide="loggedInUser">
			<ul class="inline">
				<li><a ui-sref="login"><%= i18n.t('ns.header:login') %></a></li>
				<li><a ui-sref="signup"><%= i18n.t('ns.header:signup') %></a></li>
			</ul>
		</div>
		<div class="dropdown navitems" ng-show="loggedInUser">
			<button class="btn dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown">
				<%= i18n.t('ns.header:welcome') %> {{loggedInUser.local.email}} <i class="fa fa-bars"></i>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="userMenu">
				<li role="presentation" ng-show="loggedInUser.local.accountType === (accountTypes | filter: {id: 'seller'})[0].id"><a role="menuitem" tabindex="-1" ui-sref="mytracks"><i class="fa fa-music"></i> <%= i18n.t('ns.header:myTracks') %></a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="profile"><i class="fa fa-cog"></i> <%= i18n.t('ns.header:editProfile') %></a></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="home" ng-click="logout()"><span class="fa fa-sign-out"></span> <%= i18n.t('ns.header:logout') %></a></li>
			</ul>
		</div>
	</div>
</div>
