<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="account-wall" ng-controller="AuthController">
                <h1 class="text-center login-title"><%= i18n.t('ns.auth:stemsellLogin') %></h1>
                <div class="text-center">
                    <span class="fa-stack fa-3x text-center">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <form class="form-signin" name="form" ng-submit="login(form)" novalidate autofill-fix>
                    <div ng-class="{'has-error': form.email.$invalid && form.email.$dirty}">
                        <input type="email" class="form-control" placeholder="<%= i18n.t('ns.auth:email') %>" name="email" ng-model="credentials.email" required autofocus mongoose-error update-on-blur>
                        <p ng-show="form.email.$invalid && form.email.$dirty" class="help-block"><%= i18n.t('ns.auth:messages.validEmailRequired') %></p>
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="<%= i18n.t('ns.auth:password') %>" name="password" ng-model="credentials.password" required mongoose-error>
                        <p class="help-block" ng-show="form.password.$error.mongoose">
                            {{ errors.password }}
                        </p>
                    </div>
                    <div class="form-group has-error">
                        <p class="help-block">{{ error.other }}</p>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit"><%= i18n.t('ns.auth:signIn') %></button>
                    <span class="clearfix"></span>
                </form>
            </div>
            <a ui-sref="signup" class="text-center new-account"><%= i18n.t('ns.auth:createAccount') %></a>
        </div>
    </div>
</div>
