<!-- <div class="container" ng-controller="MyTracksController" flow-init="{target: '/upload'}" flow-files-submitted="\$flow.upload()" flow-file-success="\$file.msg = \$message"> -->
<div class="container" ng-controller="MyTracksController" flow-init flow-file-success="$file.msg = $message">
	<div class="row"><h3>My Tracks</h3></div>
	<div>Drag And Drop your file below</div>
	<div class="file-drop" flow-drop flow-drag-enter="class='file-drop-over'" flow-drag-leave="class=''" ng-class="class">
	    <div ng-repeat="file in $flow.files" ng-class-even="'even'">
			<span><a ng-click="$flow.files.splice($index, 1)">x</a></span>
			<span>{{file.name}}</span>
			<span>{{file.msg}}</span>
		</div>
	</div>
	<button class="btn btn-primary" flow-btn>Select File</button>
	<button class="btn btn-primary" flow-btn flow-directory>Select Folder</button>
	<button class="btn btn-primary" ng-click="upload()">Begin Upload</button>
</div>
