<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="account-wall" ng-controller="ProfileController">
				<h1 class="text-center login-title"><%= i18n.t('general.profile') %></h1>
				<div class="text-center">
					<span class="fa-stack fa-3x text-center">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-user fa-stack-1x fa-inverse"></i>
					</span>
				</div>
				<form class="form-signup" name="form" ng-submit="saveProfile(form)" novalidate autofill-fix>
					<div ng-class="{'has-error': form.email.$invalid && form.email.$dirty}">
						<input type="email" class="form-control" placeholder="<%= i18n.t('ns.auth:email') %>" name="email" ng-model="loggedInUser.local.email" required autofocus mongoose-error>
						<p ng-show="form.email.$invalid && form.email.$dirty" class="help-block"><%= i18n.t('ns.auth:messages.validEmailRequired') %></p>
					</div>
					<div>
						<select class="form-control" name="accountType" ng-model="loggedInUser.local.accountType" ng-options="accountType.id as (accountType.name) for accountType in accountTypes | filter:{selectable: true}">
							<option value=""><%= i18n.t('ns.auth:accountType') %></option>
						</select>
					</div>
					<div ng-class="{'has-error': form.firstName.$invalid && form.firstName.$dirty}">
						<input type="text" class="form-control" placeholder="<%= i18n.t('ns.auth:firstName') %>" name="firstName" ng-model="loggedInUser.local.firstName" required autofocus mongoose-error>
						<p ng-show="form.firstName.$invalid && form.firstName.$dirty" class="help-block"><%= i18n.t('ns.auth:messages.fieldRequired') %></p>
					</div>
					<div ng-class="{'has-error': form.lastName.$invalid && form.lastName.$dirty}">
						<input type="text" class="form-control" placeholder="<%= i18n.t('ns.auth:lastName') %>" name="lastName" ng-model="loggedInUser.local.lastName" required autofocus mongoose-error>
						<p ng-show="form.lastName.$invalid && form.lastName.$dirty" class="help-block"><%= i18n.t('ns.auth:messages.fieldRequired') %></p>
					</div>
					<div ng-class="{'has-error': form.address1.$invalid && form.address1.$dirty}">
						<input type="text" class="form-control" placeholder="<%= i18n.t('ns.auth:address1') %>" name="address1" ng-model="loggedInUser.local.address1" required autofocus mongoose-error>
						<p ng-show="form.address1.$invalid && form.address1.$dirty" class="help-block"><%= i18n.t('ns.auth:messages.fieldRequired') %></p>
					</div>
					<div>
						<input type="text" class="form-control" placeholder="<%= i18n.t('ns.auth:address2') %>" name="address2" ng-model="loggedInUser.local.address2" autofocus mongoose-error>
					</div>
					<div ng-class="{'has-error': form.city.$invalid && form.city.$dirty}">
						<input type="text" class="form-control" placeholder="<%= i18n.t('ns.auth:city') %>" name="city" ng-model="loggedInUser.local.city" required autofocus mongoose-error>
						<p ng-show="form.city.$invalid && form.city.$dirty" class="help-block"><%= i18n.t('ns.auth:messages.fieldRequired') %></p>
					</div>
					<div>
						<select class="form-control" name="country" ng-model="loggedInUser.local.country" ng-options="country.id as (country.name) for country in countries">
							<option value=""><%= i18n.t('ns.auth:country') %></option>
						</select>
					</div>
					<div>
						<select class="form-control" name="state" ng-disabled="loggedInUser.local.country === null" ng-model="loggedInUser.local.state" ng-options="state.id as (state.name) for state in (countries | filter: {id: loggedInUser.local.country})[0].states">
							<option value=""><%= i18n.t('ns.auth:state') %></option>
						</select>
					</div>
					<div ng-class="{'has-error': form.zip.$invalid && form.zip.$dirty}">
						<input type="text" class="form-control" placeholder="<%= i18n.t('ns.auth:zip') %>" name="zip" ng-model="loggedInUser.local.zip" required autofocus mongoose-error>
						<p ng-show="form.city.$invalid && form.city.$dirty" class="help-block"><%= i18n.t('ns.auth:messages.fieldRequired') %></p>
					</div>
					<div class="form-group has-error">
						<p class="help-block">{{ error.other }}</p>
					</div>
					<input type="submit" class="btn btn-lg btn-primary btn-block" value="<%= i18n.t('general.save') %>">
					<span class="clearfix"></span>
				</form>
			</div>
		</div>
	</div>
</div>
