<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="account-wall" ng-controller="AuthController">
                <h1 class="text-center login-title"><%= i18n.t('ns.auth:stemsellRegistration') %></h1>
                <div class="text-center">
                    <span class="fa-stack fa-3x text-center">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <form class="form-signup" name="form" ng-submit="signup(form)" novalidate autofill-fix>
                    <div ng-class="{'has-error': form.email.$invalid && form.email.$dirty}">
                        <input type="email" class="form-control" placeholder="<%= i18n.t('ns.auth:email') %>" name="email" ng-model="credentials.email" required autofocus mongoose-error>
                        <p ng-show="form.email.$invalid && form.email.$dirty" class="help-block"><%= i18n.t('ns.auth:messages.validEmailRequired') %></p>
                    </div>
                    <div>
                        <select class="form-control" name="accountType" ng-model="credentials.accountType" ng-options="accountType.id as (accountType.name) for accountType in accountTypes | filter: {selectable: true}">
                            <option value=""><%= i18n.t('ns.auth:accountType') %></option>
                        </select>
                    </div>
                    <div ng-class="{'has-error': form.firstName.$invalid && form.firstName.$dirty}">
                        <input type="text" class="form-control" placeholder="<%= i18n.t('ns.auth:firstName') %>" name="firstName" ng-model="credentials.firstName" required autofocus mongoose-error>
                        <p ng-show="form.firstName.$invalid && form.firstName.$dirty" class="help-block"><%= i18n.t('ns.auth:messages.fieldRequired') %></p>
                    </div>
                    <div ng-class="{'has-error': form.lastName.$invalid && form.lastName.$dirty}">
                        <input type="text" class="form-control" placeholder="<%= i18n.t('ns.auth:lastName') %>" name="lastName" ng-model="credentials.lastName" required autofocus mongoose-error>
                        <p ng-show="form.lastName.$invalid && form.lastName.$dirty" class="help-block"><%= i18n.t('ns.auth:messages.fieldRequired') %></p>
                    </div>
                    <div ng-class="{'has-error': form.password.$invalid && form.password.$dirty}">
                        <input type="password" class="form-control" placeholder="<%= i18n.t('ns.auth:password') %>" name="password" ng-model="credentials.password" required mongoose-error>
                        <p class="help-block" ng-show="form.email.$invalid && form.email.$dirty"><%= i18n.t('ns.auth:messages.passwordRequired') %></p>
                    </div>
                    <div ng-class="{'has-error': (confirmpassword != password) || (form.confirmpassword.$invalid && form.confirmpassword.$dirty)}">
                        <input type="password" class="form-control" placeholder="<%= i18n.t('ns.auth:confirmPassword') %>" name="confirmpassword" ng-model="confirmpassword" required mongoose-error>
                        <p class="help-block" ng-show="(confirmpassword != password) || (form.confirmpassword.$invalid && form.confirmpassword.$dirty)"><%= i18n.t('ns.auth:messages.passwordsMustMatch') %></p>
                    </div>
                    <div ng-class="{'has-error': form.address1.$invalid && form.address1.$dirty}">
                        <input type="text" class="form-control" placeholder="<%= i18n.t('ns.auth:address1') %>" name="address1" ng-model="credentials.address1" required autofocus mongoose-error>
                        <p ng-show="form.address1.$invalid && form.address1.$dirty" class="help-block"><%= i18n.t('ns.auth:messages.fieldRequired') %></p>
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="<%= i18n.t('ns.auth:address2') %>" name="address2" ng-model="credentials.address2" autofocus mongoose-error>
                    </div>
                    <div ng-class="{'has-error': form.city.$invalid && form.city.$dirty}">
                        <input type="text" class="form-control" placeholder="<%= i18n.t('ns.auth:city') %>" name="city" ng-model="credentials.city" required autofocus mongoose-error>
                        <p ng-show="form.city.$invalid && form.city.$dirty" class="help-block"><%= i18n.t('ns.auth:messages.fieldRequired') %></p>
                    </div>
                    <div>
                        <select class="form-control" name="country" ng-model="credentials.country" ng-options="country.id as (country.name) for country in countries">
                            <option value=""><%= i18n.t('ns.auth:country') %></option>
                        </select>
                    </div>
                    <div>
                        <select class="form-control" name="state" ng-disabled="credentials.country === null" ng-model="credentials.state" ng-options="state.id as (state.name) for state in (countries | filter: {id: credentials.country})[0].states">
                            <option value=""><%= i18n.t('ns.auth:state') %></option>
                        </select>
                    </div>
                    <div ng-class="{'has-error': form.zip.$invalid && form.zip.$dirty}">
                        <input type="text" class="form-control" placeholder="<%= i18n.t('ns.auth:zip') %>" name="zip" ng-model="credentials.zip" required autofocus mongoose-error>
                        <p ng-show="form.city.$invalid && form.city.$dirty" class="help-block"><%= i18n.t('ns.auth:messages.fieldRequired') %></p>
                    </div>
                    <div class="form-group has-error">
                        <p class="help-block">{{ error.other }}</p>
                    </div>
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="<%= i18n.t('ns.auth:signUp') %>">
                    <span class="clearfix"></span>
                </form>
            </div>
            <a ui-sref="login" class="text-center new-account"><%= i18n.t('ns.auth:alreadyHaveAccount') %></a>
        </div>
    </div>
</div>
