<!doctype html>
<html ng-app="co.stemsell.Alpha">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><%= i18n.t('app.title') %> | <%= i18n.t('ns.home:title') %></title>
		<meta name="description" content="<%= i18n.t('app.description') %>">
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
		<!-- Sets initial viewport load and disables zooming  -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<!-- Set a shorter title for iOS6 devices when saved to home screen -->
		<meta name="apple-mobile-web-app-title" content="<%= i18n.t('app.title') %>">
		<!-- Properties for Google+ snippets -->
		<meta property="og:title" content="<%= i18n.t('app.title') %>">
		<meta property="og:description" content="<%= i18n.t('app.description') %>">
		<meta property="og:image" content="img/opengraph.png">

		<link rel="author" href="kris@stemsell.co">
		<link rel="icon" href="http://angularjs.org/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="http://angularjs.org/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body ontouchstart ng-app="co.Stemsell.Alpha">
		<div class="main" ng-controller="StemsellController">
			<div ng-include="'/views/partials/header'"></div>
			<div ui-view class="mainview"></div>
			<div ng-include="'/views/partials/footer'"></div>
		</div>
		<script src="/js/libs/jquery-2.1.1.min.js"></script>
		<script src="/js/libs/bootstrap.min.js"></script>
		<script src="/js/libs/angular.min.js"></script>
		<script src="/js/libs/angular-resource.min.js"></script>
		<script src="/js/libs/angular-animate.min.js"></script>
		<script src="/js/libs/angular-ui-router.js"></script>
		<script src="/js/libs/ng-flow-standalone.js"></script>
		<script src="/js/app.js"></script>
		<script src="/js/constants.js"></script>
		<script src="/js/controllers/StemsellController.js"></script>
		<script src="/js/controllers/AuthController.js"></script>
		<script src="/js/controllers/ProfileController.js"></script>
		<script src="/js/controllers/MyTracksController.js"></script>
		<script src="/js/directives/autofillFix.js"></script>
		<script src="/js/directives/updateOnBlur.js"></script>
		<script src="/js/services/AuthService.js"></script>
		<script src="/js/services/TranslateService.js"></script>
	</body>
</html>
