@import 'mixins';
@import 'vars';

html, body {
    height: 100%;
}

.navbar {
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 0 !important;
    height: $nav-height;

    > div {
        height: $nav-height;
        display: flex;
        align-items: center;
    }

    .navitems {
        width: 100%;
        height: $nav-height;
        text-align: right;

        > ul.inline > li {
            display: inline;

            > a {
                height: $nav-height;
                line-height: $nav-height;
                padding: 0 20px;
                display: inline;
            }
        }
    }

    .dropdown {
        > button {
            height: $nav-height;
            background-color: transparent;
            padding: 0;
        }

        .dropdown-menu {
            margin: 0;
            margin-top: -20px;
        }
    }
}

.form-signin,
.form-signup {
    .form-control {
        margin-bottom: 8px;
    }
}

.main {
    height: 100%;
}

.mainview {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: -$nav-height auto -60px;
    padding-bottom: 120px;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    padding-top: 12px;
}

.file-drop {
    border-style: dashed;
    border-color: #ccccee;
    border-width: 4px;
    border-radius: 6px;
    min-height: 120px;
    margin-bottom: 20px;

    > div {
        padding: 0 20px;
    }

    .even {
        background-color: #ddd;
    }
}

.file-drop-over {
    border-color: #119911;
}
