/* line 4, style.scss */
html, body {
  height: 100%;
}

/* line 8, style.scss */
.navbar {
  background-color: #fff;
  border-radius: 0;
  margin-bottom: 0 !important;
  height: 80px;
}
/* line 14, style.scss */
.navbar > div {
  height: 80px;
  display: flex;
  align-items: center;
}
/* line 20, style.scss */
.navbar .navitems {
  width: 100%;
  height: 80px;
  text-align: right;
}
/* line 25, style.scss */
.navbar .navitems > ul.inline > li {
  display: inline;
}
/* line 28, style.scss */
.navbar .navitems > ul.inline > li > a {
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  display: inline;
}
/* line 38, style.scss */
.navbar .dropdown > button {
  height: 80px;
  background-color: transparent;
  padding: 0;
}
/* line 44, style.scss */
.navbar .dropdown .dropdown-menu {
  margin: 0;
  margin-top: -20px;
}

/* line 53, style.scss */
.form-signin .form-control,
.form-signup .form-control {
  margin-bottom: 8px;
}

/* line 58, style.scss */
.main {
  height: 100%;
}

/* line 62, style.scss */
.mainview {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: -80px auto -60px;
  padding-bottom: 120px;
}

/* line 70, style.scss */
.footer {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  padding-top: 12px;
}

/* line 77, style.scss */
.file-drop {
  border-style: dashed;
  border-color: #ccccee;
  border-width: 4px;
  border-radius: 6px;
  min-height: 120px;
  margin-bottom: 20px;
}
/* line 85, style.scss */
.file-drop > div {
  padding: 0 20px;
}
/* line 89, style.scss */
.file-drop .even {
  background-color: #ddd;
}

/* line 94, style.scss */
.file-drop-over {
  border-color: #119911;
}
